<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Login</h3>
      </div>

      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <tbody>
            <tr>
              <td>Change password</td>
              <td class="d-flex justify-content-end">
                <button
                  class="btn btn-primary"
                  type="button"
                  data-toggle="modal"
                  data-target="#editPasswordModal"
                >
                  <i class="fa fa-edit"></i>
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<app-edit-password-popup />
